.mainContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonContainer {
    margin-top: 10px;
}

.welcomeButton {
    width: 200px;
}

.input {
    width: 100%;
}

.loginBtn {
    justify-content: center;
}